# Load DMQ Modules
loadmodule "dmq.so"
loadmodule "dmq_usrloc.so"

# DMQ Core Parameters
modparam("dmq", "server_address", "sip:MY_IP_ADDRESS:5090")
modparam("dmq", "notification_address", "sip:MY_IP_ADDRESS:5090")

# Enable User Location Replication
modparam("dmq_usrloc", "enable", 1)