enable_tls = yes

/* upper limit for TLS connections */
tls_max_connections=2048

/* For OpenSSL 3 integration
 * functions calling libssl3 can be invoked in a transient thread
 * 0: disable threaded calls
 * 1: use thread executors for process#0 only
 * 2: no thread executors, but use atfork handler to reset thread-locals to NULL
 * 3: use thread executors for all processes */
tls_threads_mode=2

listen=TLS_SIP
listen=TLS_ALG_SIP

####### TLS Parameters #########
loadmodule "tls.so"
#modparam("tls", "init_mode", 1)
modparam("tls", "config", "/etc/kamailio/tls.cfg")
modparam("tls", "low_mem_threshold1", 1)
modparam("tls", "low_mem_threshold2", 1)
# modparam("tls", "tls_disable_compression", 0) # enable

modparam("debugger", "mod_level", "tls=1")

